.form-group col{
  display: flexbox;
}


p {
  margin: 0 auto;
  text-align:center;
}
/* PropertyForm.css */

/* Body background color */
body {
  background-color:#fcebf1;   /*#fce4ec;  Light pink background */
  border: #9955bb;
}

/* Form labels */
label {
  color: #9955bb;; /* Pink text color for labels */
}

/* Form select dropdowns */
.form-select {
  background-color: #fff; /* White dropdown background */
  color: #9955bb; /* Pink text color for dropdown options */
  border-color: #ff69b4; /* Pink border color for dropdowns */
  width: 70%;
}

/* Buttons */
.btnClear{
  color: #fff; /* White text color for buttons */
  background-color: #ff7675; /* Pink background for buttons */
  /* border-color: #ff7675; Pink border color for buttons */
  padding: 8px 12px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;

}

/* Button hover effect */
.btnClear:hover {
  background-color: #d63031; /* Darker pink background on hover */
  border-color: #d63031; /* Darker pink border color on hover */
}

.btnSearch{
  background-color: #5cb85c;
  border: none;
  color: white;
  padding: 8px 12px;
  text-align:justify;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.btnSearch:hover {
  background-color: #009900;
}
/* Icon colors */
.fas, .fa,.bi {
  color: #f12b6b; /* Pink icon color */
}
.pform {
  font-family: 'Arial', sans-serif;
  padding: 20px;
  border-radius: 10px;
  background-color: #FD9FCD;
  margin: 20px auto;
  width: 100%;
}
.pform row{
  border: 2px solid #ff80bf;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
}

.form-select {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}