

body{
  font-family: 'Arial', sans-serif;
  background-color: #fff;
  color: #333;
  margin: 0;
  padding: 0;
}

/*.pageHeader{
  font-size: 1.5rem;
  text-align: center;
  padding: 20px;
  background-color: #ff80bf;
  color: #9955bb;

}*/


@media screen and (max-width: 979px){
  .pageHeader{
    font-size: 1.3rem;
  }

  li{
    padding: 15px;
  }
}



/* Form styles */
.form-control {
  width: 60%;
  
  border: 1px solid #FF69B4;
  border-radius: 5px;
}

  tr{
    justify-content: center;
  }
  tr:nth-child(even) {
    background-color: #fce4ec;
  }
  
  /* Delete button style */
  input[id="deleteBtn"] {
    background-color: #ff7675;
    border: none;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;

  
  }


  
  input[id="deleteBtn"]:hover {
    background-color: #d63031;
  }

  a.deleteLink{
    background-color: #ff7675;
    border: none;
    color: white;
    padding: 8px 12px;
    text-align:justify;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  
  a.deleteLink:hover {
    background-color: #d63031;
  }

  a.editLink{
    background-color: #ffc107;
    border: none;
    color: white;
    padding: 8px 12px;
    text-align:justify;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  
  a.editLink:hover {
    background-color: #ff9800;
  }

  a.addLink{
    background-color: #5cb85c;
    border: none;
    color: white;
    padding: 8px 12px;
    text-align:justify;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  
  a.addLink:hover {
    background-color: #009900;
  }

  a.withdrawLink{
    background-color: paleturquoise;
    border: none;
    color: white;
    padding: 8px 12px;
    text-align:justify;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 4px;
  }
  
  a.withdrawLink:hover {
    background-color: turquoise;
  }
 