/* Footer Styling */
.footer {
    background-color: #ff80bf; /* Pink footer */
    color: #fff; /* White text */
    text-align: center;
    padding: 20px 0;
    
    width: 100%;
    bottom: 0;
    font-size: 25px;
  }